<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cho1.guru2_final_project_1cho">
    <!-- 권한 선언 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="슈니마켓"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MyBoardActivity"></activity>
        <!-- 카메라 사용을 위한 Provider 선언 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.cho1.guru2_final_project_1cho"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.ExModifyActivity" />
        <activity android:name=".activity.ExWriteActivity" />
        <activity android:name=".activity.SellDetailActivity" />
        <activity android:name=".activity.BuyDetailActivity" />
        <activity android:name=".activity.ExDetailActivity" />
        <activity android:name=".activity.FleaActivity" />
        <activity android:name=".activity.JoinActivity" />
        <activity android:name=".activity.CameraCaptureActivity" />
        <activity android:name=".activity.ModifyMemberActivity" />
        <activity android:name=".activity.BuyModifyActivity" />
        <activity android:name=".activity.BuyWriteActivity" />
        <activity android:name=".activity.SellWriteActivity" />
        <activity android:name=".activity.SellModifyActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.UserBoardActivity" />

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>